<h3>ユーザー詳細</h3>
 
<table>
  <tr>
    <td><%= image_tag @room.room_image %></td>
  </tr>

  <tr>
    <td><%= @room.room_name %></td>
  </tr>

  <tr>
    <td><%= @room.address %></td>
  </tr>
  
  <tr>
    <td><%= @room.room_introduction %></td>
  </tr>
</table>

<div>
  <%= form_for [@room, @room.reservations.new] do |f| %>
    <%= f.hidden_field :room_id, value: @room.id %>
    <div class="col-md-6">
      <label>開始日</label>
      <%= f.date_field  :start_date %>
    </div>
  
    <div class="col-md-6">
      <label>終了日</label>
      <%= f.date_field :end_date %>
    </div>

    <div class="col-md-6">
      <label>人数</label>
      <%= f.number_field :people %>
    </div>
    <%= f.submit "この日程で予約する", class: "btn btn-danger btn-wide" %>    
  <% end %>
</div>
